
name: compiling kernel

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
env:
  USERNAME: Area69Lab 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@master
       
       - name: Clean Up
         run: |
           docker rmi `docker images -q`
           sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
           sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php* 
           sudo -E apt-get update
           sudo -E apt-get -y autoremove --purge
           sudo -E apt-get clean
       - name: Initializing environment
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install bc build-essential zip curl libstdc++6 git wget python gcc clang libssl-dev repo rsync flex bison ccache
       - name: Downloading script from remote repo
         run: |
            wget https://raw.githubusercontent.com/$USERNAME/kernel-caf/master/script.sh
            bash script.sh
       - name: Uploading Image.gz-dtb & Ak3 zip
         run: |
            curl -sL https://git.io/file-transfer | sh
            ./transfer bit /home/runner/workdir/arch/arm64/boot/Image.gz-dtb
            ./transfer bit /home/runner/workdir/ak3/*.zip
